body {
    font-family: 'Comfortaa', cursive, sans-serif;
    background-color: #301008;
    color: #F4D8AE;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 220px;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}

a {
    color: #B6C48E;
    text-decoration: none;
}

.one,
.two {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.one {
    margin: 50px 220px 100px;
    gap: 64px;
}

.left {
    flex: 1 1 0;
}
.title {
    font-size: 48px;
    font-weight: bolder;
}

.intro {
    color: #B6C48E;
    font-size: 18px;
}

.button {
    border: none;
    display: inline-block;
    background-color: #DC7027;
    border: solid 1px #DC7027;
    color: #301008;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    margin-top: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition:ease-in .2s;
}

button:hover {
    color: #F4D8AE;
    border: solid 1px #F4D8AE;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B6C48E;
    border: dotted 4px #B6C48E;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    flex: 1 1 0;
}

.two {
    display: flex;
    flex-direction: column;
    background-color: #F4D8AE;
    padding: 32px 0 100px 0;
    text-align: center;
    color: #3;
}

.information {
    color: #301008;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.picture {
    border: 3px solid #DC7027;
    background-color: #DC7027;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin: 16px auto 8px;
}

.picture:hover {
    animation: fadeIn ease 3s;
    opacity: 0.6;
    border: 3px solid #301008;
    transition:ease-in .5s;
}

.picture:hover + .text {
    opacity: 0.6;
    transition:ease-in .7s;
}

.text {
    width: 150px;
    color: #301008;
}

.three {
    color: #301008;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background: url("images/autumn-road.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.quote {
    color: #F4D8AE;
    text-shadow:0px 0px 5px black,
                0px 0px 20px #e6d8c2,
                0px 0px 40px #e6d8c2; 
    width: 825px;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.signature {
    width: 800px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.four {
    background-color: #B6C48E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calling-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;
    background-color: #301008;
    border-radius: 10px;
    padding: 48px;
    margin: 80px 220px;
}

.calling {
    font-weight: bold;
    font-size: 22px;
}

.suggestion {
    color: #B6C48E;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
